#banner {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;

    .section-over {
        width: 100%;
        height: 100%;
        background-color: rgba(1, 0, 82, 0.515);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;

        .banner-text {
            color: #fff;

            h5 {
                font-size: 40px;
                margin: 0;
                padding: 0;
            }

            h1 {
                font-size: 60px;
                margin: 0;
                padding: 0;
            }
        }

        .banner-search {
            margin-top: 20px;
            display: flex;
            width: 500px;
            .search-form {
                width: 500px;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                background-color: #fff;
            }
        }
    }
}